@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <form asp-controller="Cars" asp-action="SeeCar">
        <input asp-route-id="ID" type="submit" value="Change Me when you add cars" />
    </form>
    <form asp-controller="Cars" asp-action="AddCar">
        <input type="submit" value="Add new car" />
    </form>
</div>
