
@{
    ViewData["Title"] = "AddCar";
}

<h1>AddCar</h1>
<form asp-controller="">
    <select name="car-years" id="car-years"></select>
    <select name="car-makes" id="car-makes"></select>
    <select name="car-models" id="car-models"></select>
    <select name="car-model-trims" id="car-model-trims"></select>
    <input type="number" name="miles" />
    <input type="submit" value="Submit" />
</form>

