
@{
    ViewData["Title"] = "AddCar";
}

<h1>AddCar</h1>
<select name="car-years" id="car-years"></select>
<select name="car-makes" id="car-makes"></select>
<select name="car-models" id="car-models"></select>
<select name="car-model-trims" id="car-model-trims"></select>
